NEXT_PUBLIC_PLATFORM_NAME=Esthya
NEXT_PUBLIC_PLATFORM_LOGO_URL=/assets/logo.svg
NEXT_PUBLIC_PLATFORM_WEBSITE=http://127.0.0.1:3000
NEXT_PUBLIC_APP_NAME=Esthya
NEXT_PUBLIC_APP_LOGO_URL=/assets/logo.svg
NEXT_PUBLIC_APP_DOMAIN=esthya.com.br
NEXT_PUBLIC_APP_URL=http://127.0.0.1:3000
NEXT_PUBLIC_APP_SUPPORT_EMAIL=contato@esthya.com.br
NEXT_PUBLIC_API_URL=http://127.0.0.1:3001
NEXT_PUBLIC_DEV_MODE=false
