PLATFORM_NAME=Esthya
PLATFORM_LOGO_URL=/assets/logo.svg
PLATFORM_WEBSITE=https://Esthya.com.br
APP_NAME=Esthya
APP_LOGO_URL=/assets/logo.svg
APP_DOMAIN=Esthya.com.br
APP_URL=https://Esthya.com.br
APP_SUPPORT_EMAIL=contato@Esthya.com.br
PUBLIC_APP_URL=https://Esthya.com.br
BOOKING_BASE_URL=https://Esthya.com.br/agendar
CLIENT_TOKEN_TTL_DAYS=180

HOST=0.0.0.0
PORT=3001
TRIAL_DAYS=14

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

WHATSAPP_PROVIDER=whatsapp_mysaas
WHATSAPP_CLOUD_API_ENABLED=false
WHATSAPP_CLOUD_API_VERSION=v20.0
WHATSAPP_CLOUD_PHONE_NUMBER_ID=
WHATSAPP_CLOUD_ACCESS_TOKEN=
WHATSAPP_WEBHOOK_VERIFY_TOKEN=
WHATSAPP_DRY_RUN=true
WHATSAPP_QUEUE_ENABLED=true
WHATSAPP_QUEUE_INTERVAL_MS=60000
WHATSAPP_QUEUE_BATCH_SIZE=25
WHATSAPP_MAX_ATTEMPTS=5
DEFAULT_INACTIVE_CUSTOMER_DAYS=45
BIRTHDAY_GREETING_SCHEDULER_ENABLED=true
BIRTHDAY_GREETING_SCHEDULER_INTERVAL_MS=300000
BIRTHDAY_GREETING_SCHEDULER_BATCH_SIZE=100
